*{
    margin:  0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFEEEE; 
}
body{
    background-color: #FFF6EA;
}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7e9d7bf;
    height: 50%;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.design1{
    margin: 5px;
}
#selecionar{
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: #EBD8C3;
    margin-left: 170px;
}
.design2{
    margin: 5px;
    margin-left: 170px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    background-color: #EBD8C3;
    width: 140px;
    height: 30px;
}
textarea{
    width: 520px;
    height: 200px;
}
.design4{
    align-items: center;
    justify-content: center;
    margin: 10px;
    margin-left: 90px;
}
.result{
    font-size: 20px;
    margin-left: 160px;
}
.escrita{
    padding: 5px;
}
.botaoEscolha{
    padding: 5px;
}
.botao{
    margin-left: 150px;
    padding: 10px;
}
#codificar{
    height: 20px;
}
#decodificar{
    height: 20px;
}